% This configuration file pre-loads records that are required in order
% to run other mmg_*.config tests successfully.
{mode, max}.

{duration, 20}.

{concurrent, 10}.

{driver, basho_bench_driver_riakc_pb}.

{key_generator, {int_to_str, {partitioned_sequential_int, 100000}}}.

{value_generator, {fixed_bin, 10000}}.

{riakc_pb_ips, [
                {{127,0,0,1}, [8087, 8187, 8287, 8387, 8487]}
               ]}.

{riakc_pb_ips, [{127,0,0,1}]}.

{operations, [{put,1}]}.
